@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
@import "components/keyframe.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
  height: 100%;
}
.main-screen {
  padding: 0px var(--horizontal-space);
  margin-bottom: 60px;
  padding-top: 120px;
}
#login-screen {
  background-image: url("https://cdn.pixabay.com/photo/2020/06/06/17/18/food-5267422_960_720.jpg");
  animation: kenburns-top 2s ease-out both;
}