.welcome-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 120px;
}
.welcome-header_title {
  margin-bottom: 32px;
  font-size: 25px;
}
.welcome-header_text {
  width: 60%;
  opacity: 0.7;
}

.login-form__column {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
}
.login-form__column {
  margin-bottom: 30px;
}
#login-form input {
  border: none;
  padding: 13px 0px;
  font-size: 16px;
  margin-bottom: 15px;
}
/* 타입이 submit인 요소만 빼고 적용 */
#login-form input:not([type="submit"]) {
  text-align: center;
  border-radius: 30px;
  background-color: lightgoldenrodyellow;
}
#login-form input:focus::placeholder {
  color: rgba(0, 0, 0, 0.3);
  opacity: 0;
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 13px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit; /* inherit - 상속 - 부모로부터 상속된다 */
  font-size: 15px;
}
/* 애니메이션 */

.welcome-header {
  animation: appearBtnAnimation 0.5s ease-in-out forwards;
}
.login-form__column:first-child input {
  animation: fadeInLeft 0.8s ease-in-out forwards;
}
.login-form__column:nth-child(2) input {
  animation: fadeInRight 0.8s ease-in-out forwards;
}
