.welcome-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 120px;
}
.welcome-header_title {
  margin-bottom: 32px;
  font-size: 40px;
  color: #646668;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 5px 5px #a4acb4;
}
.welcome-header_text {
  width: 60%;
  opacity: 0.7;
}

.login-form__column {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
}
.login-form__column {
  margin-bottom: 30px;
}
#login-form input {
  border: none;
  padding: 13px 0px;
  font-size: 16px;
  margin-bottom: 15px;
  animation: swing-in-bottom-fwd 3s ease-out forwards;
  background-color: rgba(161, 161, 158, 0.6);
}
/* 타입이 submit인 요소만 빼고 적용 */
#login-form input:not([type="submit"]) {
  text-align: center;
  border-radius: 30px;
  /* background-color: lightgoldenrodyellow; */
}
#login-form input:focus::placeholder {
  opacity: 0;
}

#login-form input[type="submit"] {
  background-color: #5c6a77;
  cursor: pointer;
  padding: 13px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit; /* inherit - 상속 - 부모로부터 상속된다 */
  font-size: 15px;
}
/* 애니메이션 */

.welcome-header h1 {
  animation: focus-in-contract 2.7s ease-out forwards;
}
.sns-icons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.sns-icons__link i {
  color: #5c6a77;
}
.sns-icons__link span {
  color: #5c6a77;
  font-weight: 600;
  text-shadow: 3px 3px whitesmoke;
}
.sns-icons__link {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  text-align: center;
  animation: snsLinkAnimation 2.5s ease-in-out;
}
audio {
  position: absolute;
  top: 70px;
  left: 30px;
  opacity: 0.3;
  width: 60%;
  height: 30px;
}
