.alt-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 5px;
  padding-top: 60px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 19;
  background-color: var(--main-background-color);
}
.alt-header__column {
  width: 33%;
}
.alt-header__title {
  font-size: 28px;
  font-weight: bold;
}
/* 타이틀이 정중앙에 오도록 */
.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-header__column:nth-child(2) {
  text-align: center;
}
.alt-header__column span:last-child {
  margin-left: 20px;
}
