/* 숫자 알림 뱃지 */
.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
}
/* 아이콘 우상단 알림 뱃지 */
.badge_noti {
  position: absolute;
  left: -2px;
  bottom: 15px;
  font-size: 30px;
  color: #fe6c5a;
}
