/* fade-in 애니메이션 */
@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    transform: translateX(-120px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeInRight {
  from {
    transform: translateX(120px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes appearBtnAnimation {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/* welcome header animation */
@keyframes focus-in-contract {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
/* login-form animation*/
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
/* login-page background animation*/
@keyframes kenburns-top {
  0% {
    transform: scale(0.75);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1); 
    transform-origin: top;
  }
}
/* sns link transform animation */
@keyframes snsLinkAnimation {
  from {
    transform: translateY(800px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes bg-pan-left{
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


