.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #207bbe;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 50px;
}
.nav_list {
  display: flex;
  justify-content: space-between;
}
.nav_link {
  color: #2e363e;
  position: relative;
}
/* notification 애니메이션 효과주기 */
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

.nav_notification {
  position: absolute;
  left: 20px;
  bottom: 20px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.nav_ellipsis-noti {
  color: tomato;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  bottom: 24px;
  left: 30px;
}
/* 네비게이션 버튼에 애니메이션 효과주기 */

.nav_btn {
  opacity: 0;
  animation: appearBtnAnimation 0.5s ease-in-out forwards;
}
.nav_btn:nth-child(2) {
  animation-delay: 0.3s;
}
.nav_btn:nth-child(3) {
  animation-delay: 0.6s;
}
.nav_btn:last-child {
  animation-delay: 0.9s;
}
